.portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../../assets/img/portada2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
@media (max-width: 1200px) {
  .portada {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.portada-filtros {
  width: 80%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 8px;
  padding: 30px 10px;
  background-color: white;
  border-radius: 10px;
  bottom: -60px;
}
.portada-filtros h2 {
  font-size: 20px;
  padding: 20px 10px;
}
@media (max-width: 1200px) {
  .portada-filtros {
    bottom: 0;
    position: static;
  }
}
.portada-filtros-inputs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "zona1 zona1 zona1  zona2 zona2 zona2  zona3 zona4 zona5 zona5  zona6 none ";
  align-items: center;
  justify-content: center;
}
.portada-filtros-inputs .input1 {
  grid-area: zona1;
}
.portada-filtros-inputs .input2 {
  grid-area: zona2;
}
.portada-filtros-inputs .input3 {
  grid-area: zona3;
}
.portada-filtros-inputs .input4 {
  grid-area: zona4;
}
.portada-filtros-inputs .input5 {
  grid-area: zona5;
}
.portada-filtros-inputs .input6 {
  grid-area: zona6;
}
@media (max-width: 1200px) {
  .portada-filtros-inputs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-areas: "zona1 zona1 zona2 zona2" "zona3 zona3 zona4 zona4" "zona5 zona5 zona5 zona5" "zona6 zona6 zona6 zona6";
  }
}
@media (max-width: 768px) {
  .portada-filtros-inputs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-areas: "zona1 zona1 zona1 zona1" "zona2 zona2 zona2 zona2" "zona3 zona3 zona4  none" "zona5 zona5 zona5 zona5" "zona6 zona6 zona6 zona6";
  }
}
.portada-filtros-inputs label {
  position: relative;
  background-color: white;
  right: -6px;
  padding: 5px;
}
.portada-filtros-inputs input {
  outline: none;
  border: 0;
  padding: 5px;
}
.portada-filtros-inputs input[type=text]::placeholder {
  font-size: 14px;
}
.portada-filtros-inputs input[type=date] {
  width: 120px;
  text-indent: 12px;
  font-size: 12px;
}
.portada-filtros-inputs input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url(../../assets/img/calendar-days-solid.svg);
  position: relative;
  right: 90px;
}
.portada-filtros-inputs .input5 input {
  width: 100px;
}
.portada-filtros-inputs input[type=submit] {
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: aqua;
  color: white;
}

.navegador {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}
.navegador ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
}
.navegador ul::-webkit-scrollbar {
  display: none;
}
.navegador ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
  height: 68px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */