.barraSuperior{
    font-size: 10px;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media(max-width:678px){
        justify-content: start;
    }

    img{
        width: 15em;
        @media(max-width:678px){
            order: 2;
        }
    }
    .fa-bars{
        font-size: 1.6em;
        display: none;
        padding: 1.5em;
        &:hover + ul{
              left: 0;
        }
        @media(max-width:678px){
            display: block;
        }
    }


   
    ul{
        margin: 0;
        margin-right: 10em;
        list-style: none;
        display: flex;
        
        @media(max-width:992px){
            margin-right: 0;
        }
        @media(max-width:678px){
            position: absolute;
            height: 100vh;
            background-color: white;
            flex-direction: column;
            align-items: flex-start;
            top: 0;
            left: -100vh;
            box-shadow:rgba(0,0,0,0.5) 0px -3px 8px;
            z-index: 300;
            min-width: 25em;
            padding: 2em;
            padding-top: 5em;
            transition: 0.2s;
            &:hover{
                left: 0;

            }
            li{
                padding: 1em 0px;
            }
        }
        li{
            position: relative;
            a{
                font-size: 1.6em;
                padding: 1.2em;
                text-decoration: none; 
                color: #848485;
        
                &:hover{
                    color: black;
                }     
            }
            @each $clave , $var in (1:"\f2bb",2:"\f007",3:"\f232",4:"\f05a") {
                &:nth-child(#{$clave}){
                    a{
                   
                        &::before{
                            content: $var;
                            font-family: $fontAwesome;
                            position: absolute;
                            left: -0.1em;        
                        }
                        @if($clave == 3){
                            color:$whatsappColor;
                            &:hover{
                                color:$whatsappHoverColor
                            }
                        }
                    }
                    
                }    
            }

        }
    }
}