.cards{
    position: relative;
    margin: 10px 0px;
 
}
.slick-slide{
    display: flex !important;
    justify-content: center;
    padding: 10px;
}
.card{
    width: 250px;
    height: 350px;
    font-size: 10px;
    box-shadow: $shadowCard;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    img{
        width: 25em;
        height: 15em;
        object-fit: cover;

        
    }
    h4{
        font-size: 2em;
        text-align: center;
        margin-top: 0.5em;
        
    }
    h5{
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 0.7em;
    }
    p:nth-child(1){
        position: absolute;
        color:white;
        left: 0.5em;
        top: 0.3em;
        
    }
    p:nth-child(2){
        font-size: 2em;
    }
    p{
        font-size: 1.6em;
        text-align: center;
    }
    a{
        font-size: 1.8em;
        text-decoration: none;
        width: 7.5em;
        height: 2.5em;
        background-image: linear-gradient(to right, $primaryColor 40%, #BF2C47 100%);
        padding: 0.5em 1.5em;
        display: block;
        text-align: center;
        border-radius: 0.25em;
        color: white;
        margin: 10px 0px;
        
    }
    
}