.navegador{
    font-size: 9px;
    display: flex;
    justify-content: center;
    height: 8em;
    align-items: center;

    .navegador__lista{
        list-style: none;
        display: flex;
        margin: 0;
        margin-left: 10em;
        padding: 0;
        width: 100%;
        @media(max-width:992px){
            margin: 0;
        }
        @media(max-width:678px){
            justify-content: center;
        }

        li{
            
            a{
                font-size: 1.8em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                text-decoration: none;
                height: 2em;
                color: #1B80BF;
                position: relative;
                &:hover{
                    color: #0565a5;
                }
                i,div{
                    color:inherit;
                }
              
            }
    
        }
    }
}