.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../../assets/img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    @media(max-width:1200px){
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    &-filtros{
        width: 80%;
        position: absolute;
        box-shadow: rgba(0,0,0,0.5) 0px -3px 8px;
        padding: 30px 10px;
        background-color: white;
        border-radius: 10px;
        bottom: -60px;
  
        h2{
            font-size: 20px;
            padding: 20px 10px;
        }
        @media(max-width:1200px){
           bottom: 0;
           position: static;
           

        }
       
        &-inputs{
            display: grid;
            grid-template-columns: repeat(12 , 1fr) ;
            grid-template-areas: "zona1 zona1 zona1  zona2 zona2 zona2  zona3 zona4 zona5 zona5  zona6 none " ;
            align-items: center;
            justify-content: center;
            @for $var from 1 to 7 {
                .input#{$var}{
                    grid-area: zona#{$var};
                }
            }
            @media(max-width: 1200px){
                grid-template-columns: repeat(4 , 1fr) ;
                grid-template-rows: 40px 40px 40px 40px;
                grid-template-areas: "zona1 zona1 zona2 zona2"
                                     "zona3 zona3 zona4 zona4"
                                     "zona5 zona5 zona5 zona5"
                                     "zona6 zona6 zona6 zona6";
                
            }
            @media(max-width: 768px){
                grid-template-columns: repeat(4 , 1fr) ;
                grid-template-rows: 40px 40px 40px 40px;

                grid-template-areas: "zona1 zona1 zona1 zona1"
                                     "zona2 zona2 zona2 zona2"
                                     "zona3 zona3 zona4  none"
                                     "zona5 zona5 zona5 zona5"
                                     "zona6 zona6 zona6 zona6";
                
            }

            label{
                position: relative;
                background-color: white;
                right: -6px;
                padding: 5px;
            }
           
            input{
                outline: none;
                border: 0;
                padding: 5px;
            }
           
            input[type="text"]{
                &::placeholder{
                    font-size: 14px;
                }
            }
            input[type="date"]{
                width: 120px;
                text-indent: 12px;
                font-size: 12px;
                &::-webkit-calendar-picker-indicator{
                    background-image: url(../../assets/img/calendar-days-solid.svg);
                    position: relative;
                    right:90px;
                }
              
            }
            .input5{
                input{
                    width: 100px;
                }
            }
            input[type="submit"]{
                width: 100%;
                padding: 5px 20px;
                border-radius: 5px;
                background-color:aqua;
                color: white;
             }
             
               
             
        }
       
     }       
       
    }