$textColor:#848485;
$whatsappColor:#007E03;
$whatsappHoverColor:#016902;
$shadow:rgba(0,0,0,0.5) 0px -3px 8px;
$primaryColor:#1B80BF;
$primaryColorHover:#0565a5;
$secundaryColor:#BF2C47;
$fontAwesome:FontAwesome;
