@import "mixins";



*{
    margin: 0;
    padding: 0;
}
.portada{
    position: relative;
    @include flex(flex,row,wrap,space-around,none,none);
    .filtros{
        width: 75%;
        background-color: white;
        padding: 50px;
        border-radius: 10px;
        position: absolute;
        bottom: -100px;
    @include flex(flex,row,wrap,space-around,none,none);
        div{
            @include flex(flex,column,none,none,none,none);
            input{
                width: 150px;
            }
        }
    }
}